.P_project {
  background-color: #55ff55;
  // overflow: hidden;
  min-height: calc(100% - 70px);
}
.P_title {
  text-align: center;
  font-size: calc(1.2rem + 3vw);
  text-transform: uppercase;
}
.btn_container {
  // border: 2px solid red;
  margin-top: 1.5rem;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding-block: 1.5rem;
    flex-wrap: wrap;
  }
}

.items {
  // border: 2px solid blue;
  margin-top: 2rem;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  // position: relative;

  .item {
    width: 250px;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem hsl(0, 0, 0 / 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    position: relative;

    img {
      width: 100%;
      position: absolute;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      transition: all 300ms ease-in;
    }

    h3 {
      color: rgb(0, 0, 0);
      font-weight: normal;
      font-size: 1.5rem;
      opacity: 0;
      text-transform: uppercase;
      transition: all 300ms ease-in;
      /* width: 100%;
      height: 100%; */
      border-radius: 0.5rem;
    }
    &:hover {
      // background-color: hsl(30, 20%, 100% / 0.5);
      background-color: #000000;
      img {
        opacity: 0.3;
      }
      h3 {
        color: white;
        opacity: 1;
        z-index: 1;
      }
    }
  }
  .item1 {
    background-image: url("http://unsplash.it/1000/1000?image=613");
  }
  .item2 {
    background-image: url("http://unsplash.it/1000/1000?image=567");
  }
  .item3 {
    background-image: url("http://unsplash.it/1000/1000?image=527");
  }
  .item4 {
    background-image: url("http://unsplash.it/1000/1000?image=568");
  }
  .item5 {
    background-image: url("http://unsplash.it/1000/1000?image=562");
  }
  .item6 {
    background-image: url("http://unsplash.it/1000/1000?image=577");
  }
  .item7 {
    background-image: url("http://unsplash.it/1000/1000?image=569");
  }
  .item8 {
    background-image: url("http://unsplash.it/1000/1000?image=532");
  }
  .item9 {
    background-image: url("http://unsplash.it/1000/1000?image=535");
  }
}
